* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #fff;
}

body {
    margin: 2rem;
    padding: 0;
    background-color: #121212;
}

th {
    padding: 0.5rem;
}

th:first-child {
    padding-left: 0;
}

th:last-child {
    padding-right: 0;
}

.button {
    border: 0;
    border-radius: 20px;
    padding: 10px 1rem;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    background-color:#1ed760;
    color: #000;
    transition: transform 0.1s, background-color 0.1s;
}

.button:hover {
    background-color: #1fdf64;
    transform: scale(1.05);
    cursor: pointer;
}

.button:disabled {
    background-color: #1fdf657f;
    transform: scale(1);
    cursor: not-allowed;
}

.button-alt {
    border: 0;
    padding: 10px 1rem;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    background: none;
    color: #000;
    transition: transform 0.1s;
}

.button-alt:hover {
    transform: scale(1.05)
}

.button-alt:disabled {
    background-color: #0000007f;
    transform: scale(1);
    cursor: not-allowed;
}

textarea {
    margin: 0.5rem 0;
    width: calc(100% - 2rem - 4px);
    border: 2px solid;
    border-color: #242424;
    border-radius: 10px;
    padding: 1rem;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242424;
    color: #fff;
    outline: none;
    transition: background-color 0.1s, border-color 0.1s;
    resize: none;
}

textarea:hover {
    background-color: #2a2a2a;
    border-color: #2a2a2a;
}

textarea:focus {
    border-color: #fff;
}

#logged-in {
    display: none;
}

#create-playlist-button {
    visibility: hidden;
    min-width: 9rem;
}

#create-playlist-progress {
    visibility: hidden;
}

#th-progress {
    width: 100%;
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 38px;
    background-color: #242424;
    border-radius: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #242424;
    border-radius: 20px;
}

progress[value]::-webkit-progress-value {
    background-color: #fff;
    border-radius: 20px;
}

progress[value]::-moz-progress-bar {
    background-color: #fff;
    border-radius: 20px;
}

#artists-list {
    width: 15rem;
    margin: 0.5rem 0 0.5rem 1rem;
    padding: 0;
}

#artists-list li {
    list-style-type: none;
    margin: 0;
    line-height: 3rem;
    font-size: 0.8rem;
}

.remove-button {
    position: static;
    margin: 0.25rem 0.5rem 0.25rem 0;
    padding: 0.5rem 0.8rem;
    float: left;
    font-size: 1rem;
    background-color: transparent;
    color: #6a6a6a;
    transition: transform 0.1s, background-color 0.1s, color 0.1s;
}

.remove-button:hover {
    background-color: #242424;
    color:  #fff;
}

.remove-button:disabled {
    background-color: transparent;
    color: #6a6a6a7f;
    transform: scale(1);
    cursor: not-allowed;
}

#popup-body {
    margin: 0;
    background-color: #121212cc;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    text-align: center;
}

#popup-content {
    margin: 0;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup-message {
    color: #000;
}

#popup-choices {
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-blocker {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}